body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .modal-inner {
  background: #fff;
  padding: 15px;
}

.ana-baslik {
  background: #9ced94;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.user-buttons {
  display: flex;
  justify-content: center; /* Butonları yatayda ortalar */
  gap: 20px; /* Butonlar arasındaki boşluğu belirler */
  
}

.user-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: rgb(84, 79, 79);
  border-radius: 5px; /* Buton köşelerini yuvarlatır */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Buton gölgeleri */
  transition: transform 0.3s;
  background: linear-gradient(45deg, #9ced94, #1e7803);
}

.user-button:hover {
  transform: scale(1.05); /* Hover efekti */
}

.form-todos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.todo-input {
  width: 300px;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #9ced94, #1e7803);
  cursor: pointer;

}

.profil {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hosgeldin {
  font-size: 18px; /* Yazı boyutu */
  font-weight: bold; /* Kalın yazı */
  color: #333; /* Yazı rengi */
  margin-right: 10px; /* İstenilen boşluk ayarlanabilir */
}

.logout-btn {
  padding: 10px 20px;
  background-color: #ff0000; /* Arka plan rengi */
  color: #fff; /* Yazı rengi */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #cc0000; /* Hover rengi */
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.todo-items {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px; /* veya istediğiniz genişlik */
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-btn {
  background-color: #4caf50;
  color: #fff;
}

.delete-btn {
  background-color: #f44336;
  color: #fff;
}
